<VirtualHost *:80>
 ServerAdmin admin@yourdomain.com
 DocumentRoot /var/www/html/codeigniter
 ServerName faf7984ad3d14f6ab935422f4985e407-9-c821a80-80.vlab.uit.edu.vn/attt
 <Directory /var/www/html/codeigniter/>
Options +FollowSymLinks
AllowOverride All
Order allow,deny
allow from all
 </Directory>
 ErrorLog /var/log/apache2/codeigniter-error_log
 CustomLog /var/log/apache2/codeigniter-access_log common
</VirtualHost>


faf7984ad3d14f6ab935422f4985e407-9-c821a80-80.vlab.uit.edu.vn/codeigniter/